{% extends "cookbox_glossary/base.html" %}

{% load static %}


{% block  content %}
<div class="fill-width">
    <h1>Glossary</h1>

    <a class="button-link" href="{% url 'glossary-article-create' %}">
        Add new article
    </a>
    <a class="button-link" href="{% url 'glossary-entry-create' %}">
        Add new entry
    </a>
</div>

<section>
    <ol class="glossary-entry-list">
        {% for entry in entries %}
        <li>
            <a href="{% url 'glossary-entry-detail' entry.id %}">
                {{ entry.term | title}}
            </a>
        </li>
        {% endfor %}
    </ol>
</section>

{% if orphaned_articles %}
<section>
    <h3>Orphaned articles</h2>
    <ul class="glossary-article-list">
        {% for article in orphaned_articles %}
        <li>
            <a href="{% url 'glossary-article-edit' article.id %}">
                article{{ article.id }}
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
{% endblock %}


{% block scripts %}
{% endblock %}