{% for hidden in ing_grp.hidden_fields %}
    {{ hidden }}
{% endfor %}
<span class="sortable-handle">||</span>
<span class="ing-grp-form-pos hide">{% include 'cookbox_recipeui/form/inline_field.html' with field=ing_grp.position %}</span>
<span class="ing-grp-form-name">{% include 'cookbox_recipeui/form/inline_field.html' with field=ing_grp.name %}</span>
<span class="ing-grp-form-del hide">{% include 'cookbox_recipeui/form/inline_field.html' with field=ing_grp.DELETE %}</span>
<button
    type="button"
    class="ing-grp-form-del-btn"
    tabindex="-1"
    onclick="delete_inline_form('#{{ ing_grp.DELETE.auto_id }}', '.ing-grp-form')">×</button>

{{ ing_grp.formsets.ingredients.management_form }}

<ol id="{{ ing_grp.formsets.ingredients.prefix }}" class="ing-grp-ing-form-list">
    {% for ing in ing_grp.ingredients %}
    <li>
        <div class="ing-form">
        {% include 'cookbox_recipeui/form/ingredient.html' with ingredient=ing only %}
        </div>
    </li>
    {% endfor %}
</ol>
<button
    type="button"
    class="ing-grp-add-ing-btn"
    onclick="on_add_click('{{ ing_grp.formsets.ingredients.prefix }}', '{{ ing_grp.formsets.ingredients.empty_form_prefix }}')">
    Add ingredient
</button>
<div id="{{ ing_grp.formsets.ingredients.prefix }}_empty_form" class="ing-grp-ing-empty-form hide">
    <div class="ing-form">
    {% include 'cookbox_recipeui/form/ingredient.html' with ingredient=ing_grp.formsets.ingredients.empty_form only %}
    </div>
</div>
