<span class="ing-form-detail-container">
    {% for hidden in ingredient.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <span class="sortable-handle">||</span>
    <span class="ing-form-pos hide">{% include 'cookbox_recipeui/form/inline_field.html' with field=ingredient.position %}</span>
    <span class="ing-form-qty">{% include 'cookbox_recipeui/form/inline_field.html' with field=ingredient.quantity %}</span>
    <span class="ing-form-unit">{% include 'cookbox_recipeui/form/inline_field.html' with field=ingredient.unit %}</span>
    <span class="ing-form-desc">{% include 'cookbox_recipeui/form/inline_field.html' with field=ingredient.description %}</span>
    <span class="ing-form-del hide">{% include 'cookbox_recipeui/form/inline_field.html' with field=ingredient.DELETE %}</span>
    <button
        type="button"
        class="ing-form-del-btn"
        tabindex="-1"
        onclick="delete_inline_form('#{{ ingredient.DELETE.auto_id }}', '.ing-form')">
        ×
    </button>
    <button
        type="button"
        class="ing-form-add-note-btn"
        onclick="on_add_click('{{ ingredient.formsets.notes.prefix }}', '{{ ingredient.formsets.notes.empty_form_prefix }}')">
        Add note
    </button>
</span>
{{ ingredient.formsets.notes.management_form }}
<ul
    id="{{ ingredient.formsets.notes.prefix }}"
    class="ing-note-form-list">
    {% for note in ingredient.notes %}
    <li>
        <div class="ing-note-form">
            {% include 'cookbox_recipeui/form/note.html' with note=note form_class="ing-note-form" only %}
        </div>
    </li>
    {% endfor %}
</ul>
<div id="{{ ingredient.formsets.notes.prefix }}_empty_form" class="ing-note-empty-form hide">
    <div class="ing-note-form">
        {% include 'cookbox_recipeui/form/note.html' with note=ingredient.formsets.notes.empty_form form_class="ing-note-form" only %}
    </div>
</div>
