{% extends "base.html" %}

{% load static %}
{% load imagekit %}

{% block content %}

{% block header %}{% endblock %}

<ul class="recipe-list card-list">
{% for recipe in recipes %}
    <li>{% include 'detail/recipe_card.html' with recipe=recipe %}</li>
    {% empty %}
    <h2>No recipes matching the query.</h2>
{% endfor %}
</ul>

{% if is_paginated %}
<div class="pagination fill-width">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}
