{# Renders renders a formset (an inline)                    #}
{# Potentially renders nested forms                         #}
{# Expects variables: inline = the formset to be rendered   #}

<table>
    {{ inline.management_form}}

    {% include 'detail/inline_table_head.html' with form=inline.empty_form %}

    <tbody id = "{{inline.prefix}}_form_set">
        {% for form in inline.forms %}
            {% include 'detail/inline_table_row.html' with form=form %}
        {% endfor %}
    </tbody>
    <tbody id="{{ inline.prefix }}_empty_form" style="display:none" class= no_error>
        {% include 'detail/inline_table_row.html' with form=inline.empty_form %}
    </tbody>
</table>
<button type="button" id="{{ inline.prefix }}_add_more">Add more</button>
<script>
    // Hook up add_form function to the button
    $('#{{ inline.prefix }}_add_more').click(function() {
        add_form('{{ inline.prefix }}');
    });
    // Enable sorting functionality
    var sortables = sortable('#{{ inline.prefix }}_form_set')
</script>
