{% extends "base.html" %}

{% load static %}
{% load imagekit %}

{% block  content %}

{% block header %}{% endblock %}

<ul class="recipe-list card-list">
{% for recipe in recipes %}
    <li class="card border-line recipe-list-item">
        <a href="{% url 'recipe-detail' recipe.pk %}">
            {% if recipe.image %}
            {% generateimage 'cookbox_webui:thumbnail_small' source=recipe.image as th %}
            <img class="fill-width" src="{{ th.url }}">
            {% endif %}
            {{ recipe.name }}
        </a>
    </li>
    {% empty %}
    <h2>No recipes matching the query.</h2>
{% endfor %}
</ul>

{% if not no_pagination %}
<div class="pagination fill-width">
    <span class="step-links">
        {% if recipes.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ recipes.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}.
        </span>

        {% if recipes.has_next %}
            <a href="?page={{ recipes.next_page_number }}">next</a>
            <a href="?page={{ recipes.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}
