<nav id="nav-bar">
    <a id="logo" href="{% url 'recipe-list' %}">Cookbox</a>
    {% if user.is_authenticated %}
    <a href="{% url 'recipe-list' %}">Recipes</a>
    <a href="{% url 'recipe-search' %}">Search</a>
    <a href="{% url 'tag-list' %}">Tags</a>
    <a href="{% url 'recipe-random' %}">Random</a>
    <a href="{% url 'glossary' %}">Glossary</a>
    <a href="{% url 'seasons' %}">Seasons</a>
    <a href="{% url 'logout' %}">Logged in as: {{ user }} Logout</a>
    {% endif %}
</nav>
