Django==3.1.8
django-nested-admin==3.2.3
git+https://github.com/Chirurgus/django-superform
Pillow==8.1.0
django-autocomplete-light==3.5.0
django-imagekit==4.0.2
beautifulsoup4==4.8.1
requests==2.22.0
mysqlclient==1.4.4 # Might require default-libmysqlclient-dev mariadb-client build-essential
django-markdownx==3.0.1
extruct==0.9.0 # Might require installing 'libxslt-dev'
python-dotenv==0.15.0
