Django==5.2
django-nested-admin==4.1.1
git+https://github.com/Chirurgus/django-superform
Pillow==11.2.1
django-autocomplete-light==3.12.1
django-imagekit==5.0.0
beautifulsoup4==4.13.3
requests==2.32.3
extruct==0.18.0 # Might require installing 'libxslt-dev'
python-dotenv==1.1.0
