{# Renders a row in a table of inline forms                     #}
{# Expects variables: form = form to be rendered in this line   #}

{# Do nothing if there are no visible fields #}
{% if form.visible_fields %}
    <tr>
        {% for field in form.visible_fields %}
            <td>
                {# Hidden fields #}
                {% if forloop.first %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                {% endif %}

                {{ field.errors.as_ul }}
                {{ field }}
            </td>
        {% endfor %} 
    <tr>
{% endif %}

{# Nested forms #}
{% if form.nested %}
    <tr>
        <td colspan="4">
            {% include 'recipe_inline.html' with inline=form.nested %}
        </td>
    </tr>
{% endif %}

