<html><body>

<h1>Recipe - {{ recipe.name }}</h1>

<form action="{% url 'recipe-detail' pk=recipe.pk %}" method="POST">
    {% csrf_token %}

    {% for key,form in recipe_forms.items %}
        <div>
            {{ form.as_p }}
        </div>
    {% endfor %}

    {% for key,inline in inlines.items %}
    <table id = "{{inline.prefix}}_form_set">
        <h1>{{ key }}</h1>
        {{ inline.management_form}}

        {% for form in inline.forms %}
            {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
            {% endif %}

            <tr>
                {% for field in form.visible_fields %}
                    <td>
                        {# Hidden fields #}
                        {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}

                        {{ field.errors.as_ul }}
                        {{ field }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
        <table id="{{ inline.prefix }}_empty_form" style="display:none">
            <tr>
                {% for field in inline.empty_form.visible_fields %}
                    <td>
                        {# Hidden fields #}
                        {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}

                        {{ field.errors.as_ul }}
                        {{ field }}
                    </td>
                {% endfor %}
            </tr>
        </table>
        <input type="button" value="Add more" id="{{ inline.prefix }}_add_more">
    {% endfor %}
    <input type="submit" value="Save">
</form>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>
    add_form = function(prefix) {
        var form_idx = $('#id_' + prefix + '-TOTAL_FORMS').val();
        $('#' + prefix + '_form_set').append($('#' + prefix + '_empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_' + prefix + '-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    }
    {% for key,formset in inlines.items %}
        $('#' + '{{ formset.prefix }}' + '_add_more').click(function() {
            add_form('{{ formset.prefix }}');
        });
    {% endfor %}
</script>
</body></html>