{% extends "cookbox_glossary/base.html" %}

{% load static %}

{% block scripts %}
{{ block.super }}
{{ form.media }}
<script>
    $(document).ready(function () {
        $('form').areYouSure();
    })
</script>
{% endblock %}

{% block content %}
<div class="fill-width">
    {% if new %}
    <h1>New article</h1>
    {% else %}
    <a class="button-link" href="{% url 'glossary-article-delete' article.pk %}">
        Delete
    </a>
    {% endif %}
</div>

<form method="POST" action="">
    {% csrf_token %}

    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for hidden_field in form.hidden_fields %}
    {% if hidden_field.errors %}
    <ul>
        {% for error in hidden_field.errors %}
        <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {{ hidden_field }}
    {% endfor %}

    {{ form.terms.label_tag}}
    {{ form.terms.errors}}
    <div class="article-form-term">
        {{ form.terms }}
    </div>

    {{ form.body.label_tag }}
    {{ form.body.errors }}
    <div class="article-form-body">
        {{ form.body }}
    </div>

    <input type="submit">
</form>
{% endblock %}