.force-wrap {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
}

.recipe-list {
    display: flex;
    flex-flow: row wrap;

    flex-basis: 30em;
    flex-grow: 10;
    flex-shrink: 1;

}