/* Remove the arrow spinners for number inputs */
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}


/* Form-specific styles */
.sortable-placeholder {
    border-width: 1px;
    border-style: dashed;

    margin: .5em;

    flex-shrink: 0;
    flex-grow: 0;
}

.sortable-handle {
    margin-right: 0.2em;
    font-size: 1.2em;
    font-weight: bolder;
}

.detail-forms legend,
.ing-grp-forms legend,
.ins-forms legend,
.recipe-note-forms legend {
    font-size: 2em;
}

.ing-grp-form-list, .ins-form-list, .recipe-note-list,
.ing-grp-ing-form-list, .ing-note-form-list,
.ins-note-form-list {
    list-style: none;

    margin: 0.5em 1em 1.5em 1.5em;
    padding: 0;
}


/* Everything flex related does not seem to work 
 * This is why width property is explicitly defined for
 * for the description field. */
.ing-form-detail-container  {
    display: flex;
    flex-flow: row wrap;
    /* width: 100%; */
}

.ing-form-qty input, .ing-form-unit input {
    flex-basis: 3em;

    flex-grow: 1;
    flex-shrink: 1;

    max-width: 5em;
    min-width: 2em;
}

.ing-form-desc input {
    flex-basis: 30em;
    width: 30em;

    flex-grow: 2;
    flex-shrink: 0.5;
}

.ing-form-add-note-btn .ins-form-add-note-btn {
    margin: 0.2em 0.2em 0.2em 0.2em;
}

/*
.ins-form-detail-container {
    display: flex;
    flex-flow: column nowrap;
}
*/

.ins-form-desc input, .recipe-note-form-desc input[type=text] {
    width: 30em;
}