/*
 * Created by Oleksandr Sorochynskyi
 * On 25/09/2019
 *
 * CSS styles that influence the physical layout of the file
 */

:root {
    --main-color: #14a350;
    --highlight-color: #1f6d3f;
    --main-font-size: 15px;
    --main-font-family: Arial, Helvetica, sans-serif;
    --main-padding: 15px; 
}



/* Structure */

html {
    font-family: var(--main-font-family);
}

html, body {
    height: 100%;

    margin: 0;
    padding: 0;

    min-width: 500px;
    min-height: 600px;
}

body {
    min-height: 100%;
}

main {
    min-height: 100%;

    /* margin: auto; centers this element */
    margin: auto;
    padding: 2em 1em;

    /* Limit the width for large screens */
    max-width: 28cm;
}

footer {
    /* Footer does not shrink or grow */
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

nav {
    /*
     * Is a flex container to allow for responsive
     * rearranging of the navigation links
     */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    /* Needs to be flush with the edges of the page */
    padding: 0;
    margin: 0;
}
nav > a {
    padding: 0.5em;
}



/* Generic classes */

.force-wrap {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
}

.hide {
    display: none;
}

.fill-width {
    width: 100%;
}

.border-line {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 0.25em;
}

.card {
    box-shadow: 0 .25em .5em 0 #111111;
    transition: 0.3s;
    border-radius: .33em;

    padding: 0;
}
.card:hover {
    /* On mouse-over, add a deeper shadow */
    box-shadow: 0 8px 16px 0 #111111;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-gap: 1rem;

    /*
    display: flex;
    flex-flow: row wrap;
    */

    list-style: none;

    margin: 2em 0 0 0;
    padding: 0;
}

.errorlist li {
    width: 100%;
    font-size: 50%;
    color: red;
    margin: 0 0 0 0;
}

button, .button-link {
    background-image: linear-gradient(to top, #dddddd, #fafafa); 
    padding: 3px;
    color: black;
    text-decoration: none;
    font-size: 0.83em;
    border-width: .5px;

    border-color: rgb(155, 155, 155);
    border-style: solid;
    border-radius: 1px;

    padding: 2.5px 7.5px;
    margin: 2px 4px;
}

button:hover, .button-link:hover {
    border-color: rgb(100, 100, 100);
}




/* Page-specific classes */

/* Have these elements center the inner anchor */
.recipe-list-item, .tag-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-list-item {
    width: 7.5em;
    height: 11.25em;

    max-width: 10em;
    max-height: 15em;

    margin: 1em 1em 1em 1em;
    padding: .5em .5em .5em .5em;

}

/* Links inside the cards should fill the cards */
.recipe-list-item > a, .tag-list-item > a {
    height: 100%;
    width: 100%;

    text-decoration: none;
    
    color: #000000;
}

.recipe-image {
    max-width: 100%;
    width: 100%;
}

.recipe-ingredient-group-list, .ingredient-list,
.recipe-tag-list {
    list-style: none;
}

.recipe-ingredient-group-list, .ingredient-list,
.ingredient-note-list, .instruction-note-list,
.recipe-instruction-list, .recipe-note-list,
.recipe-tag-list {
    margin: 0.5em 1em 1.5em 1.5em;
    padding: 0;
}

.ingredient-note-list, .instruction-note-list
.recipe-note-list{
    list-style: disc;
}

.ingredient-note-list, .instruction-note-list {
    margin-bottom: 0;

    font-size: 0.75em;
}

.ingredient, .instruction, .note {
    margin-bottom: .5em;
}

.note img, .recipe-note img {
    max-height: 6em;
    max-width: 9em;
}

.tag-list-item {
    padding: .5em .5em .5em .5em;
    margin: 1em 1em 1em 1em;

    width: 7.5em;
    max-width: 10em;
}

/* Specific styles (id-based) */

#recipe-ingredients > h2, #recipe-instructions > h2,
#recipe-notes > h2, #recipe-tags > h2 {
    margin-bottom: 0.5em
}

h3 {
    margin-top: 0;
    margin-bottom: 0.0;
}










/* Visual edits */
nav {
    background-color: var(--main-color)
}
nav > a {
    font-weight: bold;

    color: black;
}
nav > a:link {
    text-decoration: none;
}
nav > a:hover {
    background-color: var(--highlight-color)
}
