/*
 * Created by Oleksandr Sorochynskyi
 * On 25/09/2019
 * 
 * CSS styles that influence only visuals. Any changes
 * to this file should not modify the structure of the 
 * rendered result. Example: colors, fonts.
 */

/* Nav block link styles */
nav {
    background-color: var(--main-color)
}
nav > a {
    font-weight: bold;

    color: black;
}
nav > a:link {
    text-decoration: none;
}
nav > a:hover {
    background-color: var(--highlight-color)
}


aside {
    background-color: gray;
}

main {
    background-color: aqua;
}

footer {
    background-color: blueviolet;
}