{% extends "base.html" %}

{% block  content %}
<div class="fill-width">
    <h1>Tags</h1>

    <a class="button-link" href="{% url 'tag-create' %}">
        Add new tag
    </a>
    <a class="button-link" href="{% url 'tag-category-create' %}">
        Add new tag category
    </a>
</div>

{# tag list listed by category #}
{% for category in categories %}
<section>
    <div class="fill-width">
        <h2>{{ category.name }}</h2>

        <a class="button-link" href="{% url 'tag-category-edit' pk=category.pk %}">edit</a>
    </div>

    <ul class="tag-list card-list">
        {% for tag in category.tags.all %}
        <li class="tag-list-item card border-line">
            <a href="{% url 'tag-recipe-list' tag.pk %}">{{ tag.name }}</a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endfor %}

<section>
    <div class="fill-width">
        <h2>Uncategorized tags</h2>
    </div>

    <ul class="tag-list card-list">
        {% for tag in uncategorized_tags %}
        <li class="tag-list-item border-line card">
            <a href="{% url 'tag-recipe-list' tag.pk %}">{{ tag.name }}</a>
        </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}