{% extends "cookbox_glossary/base.html" %}

{% load static %}

{% block  content %}
<div class="fill-width">
    <h2>{{ entry.term | title }}</h2>
    {% if entry.article %}
    <a class="button-link" href="{% url 'glossary-article-edit' entry.article.pk %}">
        Edit body
    </a>
    {% endif %}
    <a class="button-link" href="{% url 'glossary-entry-edit' entry.pk %}">
        Edit title
    </a>
</div>
<div>
    {% if entry.article %}
        {{ entry.formatted_markdown }}
    {% else %}
        <p>No associated article, yet.</p>
        <a href="{% url 'glossary-article-create' %}?entry={{ entry.id }}">
            Create one
        </a>
    {% endif %}
</div>
{% endblock %}