{% extends "base.html" %}

{% load static %}
{% load imagekit %}

{% block scripts %}
<script src={% static 'cookbox_webui/js/jquery-3.3.1.min.js' %}></script>
{% endblock %}

{% block content %}
{% if recipe.image %}
<div class="fill-width">
    {% generateimage 'cookbox_webui:thumbnail_large' source=recipe.image as th %}
    <img src="{{ th.url }}">
</div>
{% endif %}

<div class="fill-width">
    <h1>{{ recipe.name }}</h1>
    <a href="{% url 'recipe-edit' recipe.id %}">Edit</a>
    <p>{{ recipe.description }}</p>
</div>

<div class="fill-width">
    <p>      Total time: {{ recipe.total_time }} {{ recipe.unit_time }}</p>
    {% if recipe.preparation_time %}
    <p>Preparation time: {{ recipe.preparation_time }} {{ recipe.unit_time }}</p>
    {% endif %}
    {% if recipe.cook_time %}
    <p>       Cook time: {{ recipe.cook_time }} {{ recipe.unit_type }}</p>
    {% endif %}
    <p>           Yield: {{ recipe.total_yield }} {{ recipe.unit_yield }}</p>
    {% if recipe.serving_size %}
    <p>    Serving size: {{ recipe.serving_size }} {{ recipe.unit_yield }}</p>
    {% endif %}
    {% if recipe.source %}
    <p>          Source: {{ recipe.source }}</p>
    {% endif %}
    <p>
        <label for="id_target_qty">Target quantity:</label>
        <input type="number" name="target_qty" step="0.01" id="id_target_qty">
    </p>
</div>
<script>
    // Remember the at what scale ingredients are scaled
    // This is 1 before any re-scaling
    var current_scale = 1;
    $('#id_target_qty').change(function() {
        const new_scale = $('#id_target_qty').val()/{{ recipe.total_yield }};

        if (new_scale <= 0) {
            return;
        }

        $('.ing-qty').each(function(i) {
            // First un-scale the quantities
            const original_qty = $(this).text()/current_scale
            // And re-scale them using the new scale
            // .toFixed(2) rounds to 2 decimal places
            $(this).text( (new_scale*original_qty).toFixed(2) );
        });
        // Update the scaling
        current_scale = new_scale;
    });
</script>


<div class="fill-width">
    <h1>Ingredients</h1>
    <ul>
        {% for ingredient_group in recipe.ingredient_groups.all %}
        <li>
            {{ ingredient_group.name }}
            <ul>
                {% for ingredient in ingredient_group.ingredients.all %}
                    <li>
                        <span class="ing-qty">{{ ingredient.quantity }}</span> {{ ingredient.unit }} {{ ingredient.description }}
                    </li>
                {% endfor %}
            </ul>
        </li>
        {% empty %}
        No ingredients, yet.
        {% endfor %}
    </ul>
</div>

<div class="fill-width">
    <h1>Instructions</h1>
    <ol>
        {% for instruction in recipe.instructions.all %}
        <li>{{ instruction.instruction }}</li>
        {% empty %}
        No instructions, yet.
        {% endfor %}
    </ol>
</div>

<div class="fill-width">
    <h1>Notes</h1>
    <ul>
        {% for note in recipe.notes.all %}
        <li>{{ note.text }}</li>
        {% empty %}
        No notes, yet.
        {% endfor %}
    </ul>
</div>

<div class="fill-width">
    <h1>Tags</h1>
    <ul>
        {% for tag in recipe.tags.all %}
        <li>{{ tag.name }}</li>
        {% empty %}
        No tags, yet.
        {% endfor %}
    </ul>
</div>

{% endblock %}