{% extends "base.html" %}

{% load static %}

{% block scripts %}
<script src={% static 'cookbox_webui/js/jquery-3.3.1.min.js' %}></script>
<script src={% static 'cookbox_webui/js/html5sortable.min.js' %}></script>
<script>
    // Prevent ENTER key from submitting the form.
    $(document).on("keypress", 'form', function (e) {
    var code = e.keyCode || e.which;
    if (code == 13) {
        e.preventDefault();
        return false;
    }
    });

    add_form = function(prefix) {
        // Get the id of the new form
        var form_idx = $('#id_' + prefix + '-TOTAL_FORMS').val();
        // Generate the html for the new form from empty_form
        var new_form_html = $('#' + prefix + '_empty_form').html().replace(/__prefix__/g, form_idx);
        new_form_html = new_form_html.replace(/__nested_prefix__/g, '__prefix__');
        // Generate the new form
        var new_form = jQuery(new_form_html);
        // Append new form to the form set
        new_form.appendTo('#' + prefix + '_form_set');
        // Increment TOTAL_FORMS counter
        $('#id_' + prefix + '-TOTAL_FORMS').val(parseInt(form_idx) + 1);

        // Add default value for the position
        new_form.find("input[id$='position']").val(form_idx)
    }

    make_sortable = function(selector) {
        var sortables = sortable(selector, {
            handle: 'h2'
        });
        // When an item is drag'n'dropped, update the position field automatically
        sortables[0].addEventListener('sortupdate', function(e) {
            $(e.detail.destination.container)
                .find('[id$=position]')
                .each(function(index) { 
                    $(this).val(index);
            });
        });
    }

    function formUnloadPrompt(formSelector) {
        var formA = $(formSelector).serialize(), formB, formSubmit = false;

        // Detect Form Submit
        $(formSelector).submit( function(){
            formSubmit = true;
        });

        // Handle Form Unload    
        window.onbeforeunload = function(){
            if (formSubmit) return;
            formB = $(formSelector).serialize();
            if (formA != formB) return "Your changes have not been saved.";
        };

        // Enable & Disable Submit Button
        var formToggleSubmit = function(){
            formB = $(formSelector).serialize();
            $(formSelector+' [type="submit"]').attr( "disabled", formA == formB);
        };

        formToggleSubmit();
        $(formSelector).change(formToggleSubmit);
        $(formSelector).keyup(formToggleSubmit);
    }

    </script>
{% endblock %}


{% block content %}
<div class="fill-width">
    {% if new %}
    <h1>New Recipe</h1>
    {% else %}
    <h1>{{ recipe.name }}</h1>
    <a href="{% url 'recipe-delete' recipe.id %}">Delete</a>
    {% endif %}
</div>

{# PUT method is not allowed for HTML forms, so POST is used for existing instances #}
<form method="POST" enctype="multipart/form-data" class="list-form">
    {% csrf_token %}
   
    {% for key,inline in form.forms.items %}
    <h1>{{ inline.custom_label }}</h1>
    <div>
    {% if key == 'recipe_form' %}
        {{ inline.as_p }}
    {% else %}
        {% include 'detail/recipe_inline.html' with inline=inline %}
    {% endif %}
    </div>
    {% endfor %}
    <button type="submit">Save</button>
</form>

<script>
    // Call function on DOM Ready:
    $(document).ready(function() {
        formUnloadPrompt('form');
    });

</script>
{{ form.forms.recipe_form.media }}

{% endblock %}

{% block footer %}
{% endblock %}