:root {
    --main-color: #14a350;
    --highlight-color: #1f6d3f;
    --main-font-size: 15px;
    --main-padding: 15px; 
}
* {
    font-family: sans-serif;
    font-size: var(--main-font-size);
    color: black;
    border: none;
}
body {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
}
nav {
    width: 100%;
    height: 3em;

    margin-top: 0em;
    margin-right: 0em;
    margin-left: 0em;

    background-color: var(--main-color);

    overflow: hidden;
}
nav a {

    display: block;
    float: left;
       
    padding-top: 1em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;

    text-decoration: none;
}
nav a:hover {
    background-color: var(--highlight-color);
}
h1 {
    font-size: 2em;
}
#logo {
    /*font*/
    font-family: 'Hind', sans-serif;
    font-size: 2em;
    letter-spacing: -0.1em;
    
    /*box*/
    padding-left: 1em;
    padding-right: 2em;
    margin-top: -1em;
}
button {
    background-color: var(--main-color); /* Green */
    border: none;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2em 2em 1em 1em
}
ul {
    list-style: none;
}
ul li {
    padding: 0.5em 0.5em 0.5em 0.5em;
}
ul li:nth-child(odd) {
    background: lightgrey;
}
ul li a {
    float: right;
    margin-left: 1em;
    margin-right: 1em;
}
label {
    display: block;
    padding-bottom: 0.5em;
}
input, textarea {
    width: 100%;
    height: 2.20em;
    box-sizing: border-box;
    margin: 0;
    padding: 6px 8px;
    min-height: 2.2em;
    border: 0.1em solid #ccc;
    border-radius: 4px;
    text-indent: 0px;
}
input[type=number] {
    max-width: 5em;
}
input[type=checkbox] {
    max-width: 2em;
}
input[type=text] {
    max-width: 10em;
}
table {
    width: 100%;
    background: lightgrey;
    border-radius: 0.5em;
    margin: 0em 1em 0em 1em;
}
table table {
    background: grey;
    border-radius: 0.5em;
    margin: 0em 0.5em 0em 0.5em;
}
.errorlist li {
    width: 100%;
    font-size: 50%;
    color: red;
    margin: 0 0 0 0;
}