<table>
    {{ inline.management_form}}

    <tbody id = "ingredient_group_form_set">
    {% for form in inline.forms %}
        {{ form.as_ul}}

        {# Nested formset #}
        <tr>
            <td>
                <table>
                    {{ form.nested.management_form}}
                    
                    <thead>
                        <th>Unit</th>
                        <th>Quantity</th>
                        <th>Description</th>
                        <th>Usda code</th>
                        <th>Delete</th>
                    </thead>
                    <tbody  id = "{{ form.nested.prefix }}_form_set">
                    {% for nested_form in form.nested.forms %}
                        <tr>
                            {% for field in nested_form.visible_fields %}
                                <td>
                                    {{ field.errors.as_ul }}
                                    {{ field }}
                                </td>
                            {% endfor %} 
                        </tr>
                    {% endfor %}
                        <tr id="{{ form.nested.prefix }}_empty_form" style="display:none" class= no_error>
                            {% for field in form.nested.empty_form.visible_fields %}
                                <td>
                                    {{ field.errors.as_ul }}
                                    {{ field }}
                                </td>
                            {% endfor %} 
                        </tr>
                    </tbody>
                </table>
                <input type="button" value="Add more" id="{{ form.nested.prefix }}_add_more"><br/>
                <script>
                    $('#{{ form.nested.prefix }}_add_more').click(function() {
                        add_form('{{ form.nested.prefix }}');
                    });
                </script>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tr id="ingredient_groups_empty_form" style="display:none" class= no_error>
        {{ inline.empty_form.as_p }}
        <table>
            {{ inline.nested.management_form}}
                <thead>
                    <th>Unit</th>
                    <th>Quantity</th>
                    <th>Description</th>
                    <th>Usda code</th>
                    <th>Delete</th>
                </thead>
                <tbody  id = "{{ inline.empty_form.nested.prefix }}_form_set">
                    <tr id="{{ inline.empty_form.nested.prefix }}_empty_form" style="display:none" class= no_error>
                        {% for field in inline.empty_form.nested.empty_form.visible_fields %}
                            <td>
                                {{ field.errors.as_ul }}
                                {{ field }}
                            </td>
                        {% endfor %} 
                    </tr>
                </tbody>
            </table>
            <input type="button" value="Add more" id="{{ inline.empty_form.nested.prefix }}_add_more"><br/>
            <script>
                $('#{{ inline.empty_form.nested.prefix }}_add_more').click(function() {
                    add_form('{{ inline.empty_form.nested.prefix }}');
                });
            </script>

        </table>
    </tr>
</table>
<input type="button" value="Add more" id="{{ inline.prefix }}_add_more"><br/>
<script>
    $('#{{ inline.prefix }}_add_more').click(function() {
        add_form('{{ inline.prefix }}');
    });
</script>
