{% extends "base.html" %}

{% load static %}
{% load imagekit %}


{% block  content %}
<div class="fill-width">
    <h1>Recipes</h1>

    {# Add/Import recipe buttons #}
    <a href="{% url 'recipe-create' %}">
        Add new recipe
    </a>
    <a href="{% url 'recipe-import' %}">
        Import a recipe
    </a>
</div>

{% for recipe in recipes %}
<a class="border-line card recipe-item" href="{% url 'recipe-detail' recipe.pk %}">
    {% if recipe.image %}
    {% generateimage 'cookbox_webui:thumbnail_small' source=recipe.image as th %}
    <img class="fill-width" src="{{ th.url }}">
    {% endif %}
    <div>
        <p>{{ recipe.name }}</p>
    </div>
</a>
{% endfor %}

{% if not no_pagination %}
{# Recipe list #}
<div class="pagination fill-width">
    <span class="step-links">
        {% if recipes.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ recipes.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}.
        </span>

        {% if recipes.has_next %}
            <a href="?page={{ recipes.next_page_number }}">next</a>
            <a href="?page={{ recipes.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}


{% block scripts %}
<script src={% static 'cookbox_webui/jquery-3.3.1.min.js' %}></script>
{{ filter.form.media }}
{% endblock %}