{% extends "base.html" %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>
    // Prevent ENTER key from submitting the form.
    $(document).on("keypress", 'form', function (e) {
    var code = e.keyCode || e.which;
    if (code == 13) {
        e.preventDefault();
        return false;
    }
    });
    add_form = function(prefix) {
        var form_idx = $('#id_' + prefix + '-TOTAL_FORMS').val();
        var new_form = $('#' + prefix + '_empty_form').html().replace(/__prefix__/g, form_idx)
        $('#' + prefix + '_form_set').append(new_form.replace(/__nested_prefix__/g, '__prefix__'));
        $('#id_' + prefix + '-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    }
</script>
{% endblock %}


{% block content %}
{% if new %}
    <h1>New Recipe</h1>
{% else %}
    <h1>{{ recipe.name }}</h1>
{% endif %}
{# PUT method is not allowed for HTML forms, so POST is used for existing instances #}
<form method="POST">
    {% csrf_token %}
   
    {% for key,inline in form.forms.items %}
        <h1>{{ key }}</h1>
        {% if key == 'recipe_form' %}
            {{ inline.as_p }}
        {% else %}
            {% include 'detail/recipe_inline.html' with inline=inline %}
        {% endif %}
    {% endfor %}
    <input type="submit" value="Save">
</form>
{% endblock %}