{% extends "base.html" %}

{% block aside-left %}
{# Filter form #}
<form action="" method="get">
    {{ filter.form.as_p }}
    <input type="submit"/>
</form>
{% endblock %}

{% block  content %}
<div class="fill-width">
    <h1>Recipes</h1>

    {# Add/Import recipe buttons #}
    <a href="{% url 'recipe-create' %}">
        Add new recipe
    </a>
    <a href="{% url 'recipe-import' %}">
        Import a recipe
    </a>
</div>

{# Recipe list #}
{% for recipe in filter.qs %}
<a class="border-line card recipe-item" href="{% url 'recipe-detail' recipe.pk %}">
    {% if recipe.image %}
    <img src="{{ recipe.image.url }}">
    {% endif %}
    <div>
        <p>{{ recipe.name }}</p>
    </div>
</a>
{% endfor %}
{% endblock %}