{% extends "base.html" %}

{% block content %}
<h1>Recipes</h1>
<ul>
    {% for recipe in recipes %}
        <li>
            {{ recipe.name }}
            <a href="{% url 'recipe-delete' recipe.pk %}">delete</a>
            <a href="{% url 'recipe-edit' recipe.pk %}">edit</a>
            <a href="{% url 'recipe-detail' recipe.pk %}">view</a>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'recipe-create' %}">
    Add new recipe
</a>
<a href="{% url 'recipe-import' %}">
    Import a recipe
</a>
{% endblock %}